[Desktop Entry]
Name=Fluttemis
Comment=Fluttemis is an application that provides tools for genome analysis, such as a genome browser, for example.
Exec=fluttemis %f
Icon=fluttemis.png
Terminal=false
Type=Application
Categories=Utility;
